@use "../variables.scss" as *;

.chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: $max-width;
  background-image: url(https://framerusercontent.com/images/GpCA5Lq6V72engLZsaONYwMqnk.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 188px;
  gap: 40px;

  &__title {
    font-size: 64px;
    max-width: 700px;
    text-align: center;
    color: rgba(210, 200, 225, 0.7);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    margin: 0;
  }

  &__messages {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 80%;

    &__container {
      display: flex;
      gap: 10px;
      align-items: end;
      & img {
        width: 80px;
        height: 80px;
        border-radius: 100%;
      }

      &--right {
        align-self: flex-end;
      }
    }
  }
  &__message {
    padding: 16px 14px;
    background-color: $white;
    border-radius: 24px;
    max-width: 400px;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -1px;

    &--switch {
      display: flex;
      flex-direction: column;

      & img {
        width: 100%;
        border-radius: 0;
        height: 92px;
      }
    }
  }
}

.recommendation {
  display: flex;
  align-items: end;
  gap: 8px;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  & img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
  }

  &__message {
    display: flex;
    flex-direction: column;
    padding: 16px 14px;
    background-color: $white;
    max-width: 400px;
    border-radius: 24px;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -1px;

    &_badge {
      font-size: 18px;
      color: blue;
      line-height: 20px;
      letter-spacing: -0.5px;
      margin: 0;
    }
  }

  &__products {
    display: flex;
    gap: 8px;
    &__item {
      display: flex;
      flex-direction: column;
      background-color: $white;
      gap: 12px;
      padding: 24px 16px;
      border-radius: 24px;
      position: relative;
      transition: transform 0.3s ease;

      &__value {
        position: absolute;
        background-color: #44b77b;
        border-radius: 16px;
        text-align: center;
        padding: 4px 8px;
        & p {
          font-size: 14px;
          margin: 0;
          color: #a1dbbd;

          & span {
            color: $white;
          }
        }
      }

      & img {
        width: 130px;
        height: 215px;
        margin: 0 auto;
      }

      &__title {
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -1px;
        max-width: 200px;
        margin: 0;
      }

      &__price {
        margin: 0;
        text-align: start;
        color: $secondary-color;
      }

      &:hover {
        transform: translateY(-4px);
      }
    }
  }
}

.messages__options {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 8px;
  &__button {
    background-color: #5163ff;
    color: $white;
    border-radius: 68px;
    text-align: center;
    font-size: 24px;
    padding: 28px;
    border: none;
    cursor: pointer;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    & p {
      margin: 0;
      text-align: end;
    }

    &__icon {
      background-color: $white;
      border-radius: 100%;
      width: 48px;
      height: 48px;
      color: #5163ff;
      align-content: center;

      & svg {
        width: 32px;
        height: 32px;
      }
    }
  }
}
