@use "../mixins.scss" as mixins;
@use "../variables.scss" as *;

.features {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
  max-width: $max-width;

  &--second {
    margin-top: 120px;
  }

  &__primary {
    @include mixins.container;
    gap: 56px;

    &--sub {
      width: 50%;
      padding: 40px 0;
      gap: 0px;
      justify-content: space-between;

      text-align: center;

      & svg {
        width: 100px;
      }

      &--subtitle {
        font-size: 16px;
        color: #29282499;
        line-height: 24px;
        letter-spacing: -0.5px;
        max-width: 220px;
        margin: 0 auto;
      }

      & p {
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -1px;
        margin: 0 auto;
        max-width: 180px;
      }

      &__image {
        width: 80%;
        margin: 0 auto;
      }
    }

    &__title {
      font-size: 52px;
      font-weight: 400;
      max-width: 500px;
      line-height: 48px;
      letter-spacing: -1px;
      margin: 0;
    }

    &__media {
      display: flex;
      position: relative;
      & img {
        width: 248px;
      }
    }

    &__video {
      width: 248px;
      margin: 0 auto;
      z-index: 1;

      & video {
        width: 100%;
        height: 100%;
      }
    }

    &__text {
      display: flex;
      justify-content: space-between;
    }

    &__section {
      &__content {
        & p {
          margin: 0;
        }
      }
    }
  }

  &__section {
    display: flex;
    gap: 6px;
  }
}
